body {
  background: red;
}
h1 {
  font-family: "Playfair Display", serif;
  color: white;
  font-weight: bold;
}
p {
  font-family: "Playfair Display", serif;
  color: white;
}
.fa-brands {
  color: white;
}
